{
	"presets":[
		"react",
		["env", {
			"targets": {
				"browsers": "last 2 versions"
			},
			"loose": true,
			"modules": false
		}]
	],
	"plugins": [
		"babel-plugin-syntax-dynamic-import",
		"babel-plugin-transform-class-properties",
		"babel-plugin-syntax-async-functions",
		["babel-plugin-transform-regenerator", {
			"asyncGenerators": false,
			  "generators": false,
		  "async": true
	  }]
	],
	"env": { // doing different transformations based on environmental vars
		"development": {
			"plugins": [
				"react-hot-loader/babel",
			],
		},
		"test": {
			"plugins": [
				"babel-plugin-transform-es2015-modules-commonjs"
			]
		},
		"server": {
			"plugins": [
				"babel-plugin-transform-es2015-modules-commonjs"
			]
		}
	}
}
